
@{
    ViewBag.Title = "Exam";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";

}
@Scripts.Render("~/bundles/jquery")

<section class="background-11" style="padding: 3.5rem 0;">
    <div class="container">
        <div class="row background-white">
            <div class="col-md-3">
                @Html.DropDownList("Category", (IEnumerable<SelectListItem>)ViewBag.CategoryId, "Category", new { @class = "btn btn-outline-primary" })
            </div>
            <div class="col-md-3">
                <select class="btn btn-outline-primary" id="SubCategory">
                    <option value="0">Sub Category</option>
                </select>
            </div>
            <div class="col-md-3">
                @Html.DropDownList("ExamType", (IEnumerable<SelectListItem>)ViewBag.ExamTypeId, "Exam Type", new { @class = "btn btn-outline-primary" })


            </div>
            <div class="col-md-3 ">
                <div class="input-group">

                    <input type="text" class="form-control" id="txtsearch" name="txtsearch" placeholder="Search">
                    <span class="input-group-addon" id="search"><i class="fa fa-search"></i></span>
                    <input type="hidden" id="hdnskip" value="0" />
                </div>
            </div>


        </div>

        <div class="row  background-white mt-4 ">
            <div class='grid isotope' id="examlist" style="min-height:600px; width:100%;">

            </div>
        </div>
        <div class="row background-white mt-4 " id="loadmoreDiv">
        </div>


    </div>
</section>

<style>
    /* Start: Recommended Isotope styles */

    /**** Isotope Filtering ****/

    .isotope-item {
        z-index: 2;
    }

    .isotope-hidden.isotope-item {
        pointer-events: none;
        z-index: 1;
    }

    /**** Isotope CSS3 transitions ****/

    .isotope,
    .isotope .isotope-item {
        -webkit-transition-duration: 0.8s;
        -moz-transition-duration: 0.8s;
        -ms-transition-duration: 0.8s;
        -o-transition-duration: 0.8s;
        transition-duration: 0.8s;
    }

    .isotope {
        -webkit-transition-property: height, width;
        -moz-transition-property: height, width;
        -ms-transition-property: height, width;
        -o-transition-property: height, width;
        transition-property: height, width;
    }

        .isotope .isotope-item {
            -webkit-transition-property: -webkit-transform, opacity;
            -moz-transition-property: -moz-transform, opacity;
            -ms-transition-property: -ms-transform, opacity;
            -o-transition-property: -o-transform, opacity;
            transition-property: transform, opacity;
        }

            /**** disabling Isotope CSS3 transitions ****/

            .isotope.no-transition,
            .isotope.no-transition .isotope-item,
            .isotope .isotope-item.no-transition {
                -webkit-transition-duration: 0s;
                -moz-transition-duration: 0s;
                -ms-transition-duration: 0s;
                -o-transition-duration: 0s;
                transition-duration: 0s;
            }

        /* End: Recommended Isotope styles */



        /* disable CSS transitions for containers with infinite scrolling*/
        .isotope.infinite-scrolling {
            -webkit-transition: none;
            -moz-transition: none;
            -ms-transition: none;
            -o-transition: none;
            transition: none;
        }
</style>

<script type="text/javascript">

    $(document).ready(function () {

        var pageSize = 6;
        var skip = 0;
        var total = 0;



        $("#Category").change(function () {



            var categoryId = $("#Category").val();

            $.post("/Exam/SubCategory/", { categoryId: categoryId }, function (data) {

                $("#SubCategory").empty();
                for (var i = 0; i < data.length; i++) {
                    $("#SubCategory").append("<option value=" + data[i].Id + ">" + data[i].Name + "</option>");
                }
            });
        });
        $("#SubCategory").change(function () {

            //skip = 0;
            //$("#examlist").empty();
            //$("#btnloadmore").remove();
            //loadExam();

        });

        $("#ExamType").change(function () {

            skip = 0;
            $("#examlist").empty();
            $("#btnloadmore").remove();
            loadExam();

        });


        $("#search").click(function () {
            skip = 0;
            $("#examlist").html('');
            $("#btnloadmore").remove();
            loadExam();
            //debugger;
            return false;
        });

        $('#loadmoreDiv').on('click', '#btnloadmore', function () {

            skip += pageSize;
       
            $("#btnloadmore").remove();
            loadExam();
            return false;
        });



        function loadExam() {

            var subCatoryId = $("#SubCategory").val();
            var ExamTypeId = $("#ExamType").val();
            var KeyWord = $("#txtsearch").val();
            var ExamResource = {};
            ExamResource.ExamTypeId = ExamTypeId;
            ExamResource.SubcategoryId = subCatoryId;
            ExamResource.KeyWord = KeyWord;
            ExamResource.skip = skip;
            ExamResource.pageSize = pageSize;

            $.post("/Exam/SearchExam/", ExamResource, function (data) {

                for (var i = 0; i < data.exam.length; i++) {



                    var listItems = "<div class='col-md-4 pt-4 element-item transition ' data-category='transition'>" +
                        "<table> " +
                        "<tr><td>SubCAtegory :</td>" +
                        "<td>" + data.exam[i].SubCategory.Name + "</td></tr>" +
                        " <tr><td>Exam Type :</td><td>" + data.exam[i].ExamType.Name + "</td></tr>"+
                        "<tr> <td>Exam Name :</td> <td>" + data.exam[i].Name + "</td></tr>" +
                        " <tr><td>Pass Mark:</td><td>" + data.exam[i].Passmark + "</td></tr>" +
                        "<tr><td>Duration:</td><td>" + data.exam[i].Duration + "</td></tr>" +
                        " <tr><td><input type='button' id='btnstartexam' value='StartExam' class='btn-info btn  pt-1' /></td></tr>" +
                        "</table ></div > ";

                    $(".grid").append($(listItems)).isotope('appended', $(listItems));

                }
                
        
                $('.grid').isotope({
                    itemSelector: '.element-item',
                    layoutMode: 'masonry',
                });
                $('.grid').isotope('shuffle');


                if (data.totalItem >= pageSize) {

                    $("#loadmoreDiv").append(" <input type='button' id='btnloadmore' value='ShowMore' class='btn-primary btn  ml-0' />");
                }
                else {

                    $("#btnloadmore").remove();
                }
            });



        }
    });


</script>
