
@{
    ViewBag.Title = "Exam";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";

}
@Scripts.Render("~/bundles/jquery")

@section scripts{
    <script src="~/Scripts/Custom/exams.js?V=@DateTime.Now.Ticks"></script>
}

<section class="background-11" style="padding: 3.5rem 0;">
    <div class="container">
        <h3>Exams</h3>
        <div class="row background-white" style="min-height: 110px; padding-top: 35px;">
            <div class="col-3">
                @Html.DropDownList("Category", (IEnumerable<SelectListItem>)ViewBag.CategoryId, "Category", new { @class = "btn btn-outline-primary" })
            </div>
            <div class="col-3">
                <select class="btn btn-outline-primary" id="SubCategory">
                    <option value="0">Sub Category</option>
                </select>
            </div>
            <div class="col-3">
                @Html.DropDownList("ExamType", (IEnumerable<SelectListItem>)ViewBag.ExamTypeId, "Exam Type", new { @class = "btn btn-outline-primary" })


            </div>          


        </div>
        <div class="row background-white" style="    min-height: 65px;">
            
            <div class="col-3">
                <div class="input-group">

                    <input type="text" class="form-control" id="txtsearch" name="txtsearch" placeholder="Search">
                    @*<span class="input-group-addon" id="search"><i class="fa fa-search"></i></span>*@
                    <input type="hidden" id="hdnskip" value="0" />
                </div>
            </div>

            <div class="col-3">
                <input type="button" id="search" value="Search" class="btn-primary btn  ml-0">
            </div>


        </div>

        <div class='grid ' id="examlist" style="width:100%;min-height:200px">

        </div>
        <div class='col-md-4 pt-4 element-item transition ' style="min-height: 150px;" id="loading" data-category='transition'>
            <span>Loading..</span>
            <img src="/Content/assets/images/logo-dark.gif" alt="">
        </div>
        <div class="row mt-4 " id="loadmoreDiv">
        </div>


    </div>
</section>

<style>
    /* Start: Recommended Isotope styles */

    /**** Isotope Filtering ****/

    .isotope-item {
        z-index: 2;
    }

    .isotope-hidden.isotope-item {
        pointer-events: none;
        z-index: 1;
    }

    /**** Isotope CSS3 transitions ****/

    .isotope,
    .isotope .isotope-item {
        -webkit-transition-duration: 0.8s;
        -moz-transition-duration: 0.8s;
        -ms-transition-duration: 0.8s;
        -o-transition-duration: 0.8s;
        transition-duration: 0.8s;
    }

    .isotope {
        -webkit-transition-property: height, width;
        -moz-transition-property: height, width;
        -ms-transition-property: height, width;
        -o-transition-property: height, width;
        transition-property: height, width;
    }

        .isotope .isotope-item {
            -webkit-transition-property: -webkit-transform, opacity;
            -moz-transition-property: -moz-transform, opacity;
            -ms-transition-property: -ms-transform, opacity;
            -o-transition-property: -o-transform, opacity;
            transition-property: transform, opacity;
        }

            /**** disabling Isotope CSS3 transitions ****/

            .isotope.no-transition,
            .isotope.no-transition .isotope-item,
            .isotope .isotope-item.no-transition {
                -webkit-transition-duration: 0s;
                -moz-transition-duration: 0s;
                -ms-transition-duration: 0s;
                -o-transition-duration: 0s;
                transition-duration: 0s;
            }

        /* End: Recommended Isotope styles */



        /* disable CSS transitions for containers with infinite scrolling*/
        .isotope.infinite-scrolling {
            -webkit-transition: none;
            -moz-transition: none;
            -ms-transition: none;
            -o-transition: none;
            transition: none;
        }
</style>


