@{
    ViewBag.Title = "Contact";
}
<section>
    <div>
        <div class="background-holder overlay" style="background-image:url(/Content/assets/images/background-2.jpg);background-position: center bottom;"></div>
        <!--/.background-holder-->
        <div class="container">
            <div class="row pt-6" data-inertia='{"weight":1.5}'>
                <div class="col-md-8 px-md-0 color-white" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <div class="overflow-hidden">
                        <h1 class="color-white fs-4 fs-md-5 mb-0 zopacity" data-zanim='{"delay":0}'>Contact</h1>
                        <div class="nav zopacity" aria-label="breadcrumb" role="navigation" data-zanim='{"delay":0.1}'>
                            <ol class="breadcrumb fs-1 pl-0 fw-700">
                                <li class="breadcrumb-item">
                                    <a class="color-white" href="#">Home</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Contact</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
<section class="background-11">
    <div class="container">
        <div class="row align-items-stretch justify-content-center">
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="h-100 px-5 py-4 background-white radius-secondary">
                    <h5 class="mb-3">Melbourne Office</h5>121 King Street,
                    <br>Melbourne 1200,
                    <br>Australia
                </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="h-100 px-5 py-4 background-white radius-secondary">
                    <h5 class="mb-3">Sydney Office</h5>62 Collins Street West,
                    <br>Sydney 3000,
                    <br>Australia
                </div>
            </div>
            <div class="col-lg-4">
                <div class="h-100 px-5 py-4 background-white radius-secondary">
                    <h5>Socials</h5>
                    <a class="d-inline-block mt-2" href="#">
                        <span class="fa fa-linkedin-square fs-2 mr-2 color-primary"></span>
                    </a>
                    <a class="d-inline-block mt-2" href="#">
                        <span class="fa fa-twitter-square fs-2 mx-2 color-primary"></span>
                    </a>
                    <a class="d-inline-block mt-2" href="#">
                        <span class="fa fa-facebook-square fs-2 mx-2 color-primary"></span>
                    </a>
                    <a class="d-inline-block mt-2" href="#">
                        <span class="fa fa-google-plus-square fs-2 ml-2 color-primary"></span>
                    </a>
                </div>
            </div>
            <div class="col-12 mt-4">
                <div class="background-white p-5 h-100 radius-secondary">
                    <h5>Write to us</h5>
                    <form class="zform mt-3">
                        <div class="row">
                            <div class="col-12">
                                <input class="form-control" type="hidden" name="to" value="user@domain.extension">
                                <input class="form-control background-white" type="text" placeholder="Your Name" required>
                            </div>
                            <div class="col-12 mt-4">
                                <input class="form-control background-white" type="email" placeholder="Email" required>
                            </div>
                            <div class="col-12 mt-4">
                                <textarea class="form-control background-white" rows="11" placeholder="Enter your descriptions here..." required></textarea>
                            </div>
                            <div class="col-12 mt-4">
                                <div class="row">
                                    <div class="col-auto">
                                        <button class="btn btn-md-lg btn-primary" type="Submit">
                                            <span class="color-white fw-600">Send Now</span>
                                        </button>
                                    </div>
                                    <div class="col">
                                        <div class="zform-feedback"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>