

@using System.Web.Optimization

@{
    ViewBag.Title = "Question Listing";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
    ViewBag.Page = "Questions";
    ViewBag.SubPage = "Questions";
}

<div class="box">
    <div class="box-header">
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn-success btn" })
    </div>
    <div class="box-body">
        <table id="questionGrid" class="table table-striped table-bordered dt-responsive nowrap table-hover" cellspacing="0">
            <thead>
            <tr>
                <th>Question Type</th>
                <th></th>
                <th>Question</th>
                
                <th>Status</th>

                <th>Edit</th>
                <th>Details</th>
                <th>Delete</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
<input type="hidden" id="hfRole" value="@(User.IsInRole("Admin")?"true":"false")" />
@section Scripts {
    <link href="~/Areas/Admin/Assets/dist/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Assets/dist/css/responsive.bootstrap.min.css" rel="stylesheet" />

    <script src="~/Areas/Admin/Assets/dist/js/jquery.dataTables.min.js"></script>
    <script src="~/Areas/Admin/Assets/dist/js/dataTables.bootstrap4.min.js"></script>

    <script src="~/Areas/Admin/Assets/dist/js/custom/QuestionListing.js"></script>
}

<style>
    td.details-control {
        background: url('/Areas/Admin/Assets/dist/img/open-icon.png') no-repeat center center;
        cursor: pointer;
        background-size: 30px;
    }

    tr.shown td.details-control {
        background: url('/Areas/Admin/Assets/dist/img/close-icon.png') no-repeat center center;
        background-size: 24px;
    }

    .option-items {
        font-weight: 700;
        color: #3c8cbc;
    }

    .option-items-answer {
        font-weight: 700;
        padding: 10px;
        color: #01a65a;
    }

    .option-spacer {
        width: 20px;
    }

    .option-answer-tr {
        background: #ececec;
    }
</style>