@model OEP.Web.Models.IndexViewModel



@{
    ViewBag.Title = "Manage";
}



@if (ViewBag.StatusMessage != string.Empty)
{

}
<div class="container">

    <div id="partialViewProfile" class="row">


    </div>

    <div id="Educationdetailstable" class="row">

    </div>
    <div class="row pt-2 mb-2">
        <fieldset class="container">
            <legend class="text-uppercase fs-0 fs-md-1">Change Password</legend>
            <hr />

            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword",null,new {@class= "btn btn-secondary" })
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword",null, new { @class = "btn btn-secondary" })
            }

        </fieldset>
    </div>
</div>

@section Scripts{
    <script type="text/jscript">
        $(document).ready(function () {
            $("#partialViewProfile").load("/Manage/UserProfile/");
            $("#Educationdetailstable").load("/Manage/Educationdetailstable");
        });
    </script>
    <script src="~/Scripts/Custom/UserProfile.js"></script>
}

