@model OEP.Resources.Admin.ExamQuestionViewModel
@using System.Web.Optimization
@{
    ViewBag.Title = "Add or Remove Question for "+ Model.ExamName;
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<div class="form-group">
    <label class="control-label col-md-1">Choose Question</label>
    <div class="col-md-7">
        <input id="txtquestions" class="form-control" />
    </div>
    <div class="col-md-4">
        <button class="btn btn-danger" id="clear-input" style="display: none">Clear</button> &nbsp;
        <button class="btn btn-success" id="add-item" style="display: none">Add</button>
    </div>
</div>

<br/>
<br />
<div class="box">
    
    <div class="box-body">
        <table id="exmaQuestionsGrid" class="table table-striped table-bordered dt-responsive nowrap table-hover" cellspacing="0">
            <thead>
            <tr>
                <th></th>
                <th>Question</th>
                <th></th>
            </tr>
            </thead>
        </table>
    </div>
</div>

@Html.ActionLink("Back to Exam List", "Index","Exams",new {area= "Admin" },new {@class="btn btn-dropbox"})

<input type="hidden" id="exmaId" value="@Model.ExamId"/>

@section Scripts {
    <link href="~/Areas/Admin/Assets/dist/easy-autocomplete/easy-autocomplete.css" rel="stylesheet" />
    <script src="~/Areas/Admin/Assets/dist/easy-autocomplete/jquery.easy-autocomplete.js"></script>
    <script src="~/Areas/Admin/Assets/dist/easy-autocomplete/jquery.easy-autocomplete.min.js"></script>

    <link href="~/Areas/Admin/Assets/dist/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Assets/dist/css/responsive.bootstrap.min.css" rel="stylesheet" />

    <script src="~/Areas/Admin/Assets/dist/js/jquery.dataTables.min.js"></script>
    <script src="~/Areas/Admin/Assets/dist/js/dataTables.bootstrap4.min.js"></script>

    <script src="~/Areas/Admin/Assets/dist/js/custom/ExamQuestions.js"></script>
}

<style>
    td.details-control {
    background: url('/Areas/Admin/Assets/dist/img/open-icon.png') no-repeat center center;
    cursor: pointer;
    background-size: 30px;
}
tr.shown td.details-control {
    background: url('/Areas/Admin/Assets/dist/img/close-icon.png') no-repeat center center;
    background-size: 24px;
}
.option-items {
    font-weight: 700;
    color: #3c8cbc;
}

.option-items-answer {
    font-weight: 700;
        padding: 10px;
    color: #01a65a;
}
.option-spacer {
    width: 20px;
}
.option-answer-tr {
    background: #ececec;
}
</style>